/* font */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600;800&display=swap");
:root {
    --header-height:5rem;
    --main-color:#f7e6df;
    --first-color:#75492b;
    --secon-color:#dfd6a7;
    --white-color:#fff;
    --black-color:#151515;

    --font-cursive: 'Great Vibes', cursive;
    --font-body:'Montserrat', sans-serif;

    --big-font-size:3rem;
    --h1-font-size:
}